@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
    margin: 0;
    padding: 0;
  }


nav {
    display: flex;
    justify-content: center;
}

nav > p {
    padding: 0 14px;
}

.App {
font-family: Poppins;
text-align: center;
text-transform: uppercase;
}

.hero-section {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://assets.codepen.io/6060109/agency-hero-image.png);
    height: 45vh;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

.services-section {
    background: firebrick;
    height: 320px;
}

.footer-section {
    background: goldenrod;
    height: 200px;
}